<!DOCTYPE html>
<html>
  <head>
    <title>Todo Web Application - Main</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'add_task' %}">Add Task</a>
      <div class="dropdown">
        <button class="dropbtn">Filter Category</button>
        <div class="dropdown-content">
          <a href="#">Personal</a>
          <a href="#">Work</a>
          <a href="#">School</a>
        </div>
      </div>
    </nav>
    <div style="margin: 20px auto; max-width: 500px">
      <table style="width: 100%; border-collapse: collapse">
        <tr style="background-color: #4caf50; color: white">
          <th style="padding: 8px; border: 1px solid #ccc">Task Name</th>
          <th style="padding: 8px; border: 1px solid #ccc">Description</th>
          <th style="padding: 8px; border: 1px solid #ccc">Category</th>
          <th style="padding: 8px; border: 1px solid #ccc">Date Created</th>
          <th style="padding: 8px; border: 1px solid #ccc">Status</th>
          <th style="padding: 8px; border: 1px solid #ccc"></th>
        </tr>
        {% for task in tasks_list %}
        <tr>
          <td style="padding: 8px; border: 1px solid #ccc">{{ task.task_title }}</td>
          <td style="padding: 8px; border: 1px solid #ccc">
            {{ task.task_description }}
          </td>
          <td style="padding: 8px; border: 1px solid #ccc">{{ task.category }}</td>
          <td style="padding: 8px; border: 1px solid #ccc">{{ task.created_at }}</td>
          {% if task.is_done == False %}
          <td style="padding: 8px; border: 1px solid #ccc">Not Done</td>
          {% else %}
          <td style="padding: 8px; border: 1px solid #ccc">Done</td>
          {% endif %}
          <td style="padding: 8px; border: 1px solid #ccc">
            <a href="{% url 'edit_task' task.id %}">
              Edit
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
